
@{
    Layout = null;
}

<div class="col-md-6" style="padding: 10px 2px 0px 0px;">
    @{Html.RenderPartial("CourseList");}
</div>
<div class="col-md-6" style="padding: 10px 0px 2px 0px;">
    @{Html.RenderPartial("CoursePrerequisites");}
</div>
