@model Gsmu.Api.Data.School.Course.CourseModel
@using Gsmu.Api.Data.School.Terminology;
@{
    var courseModel = Model;
    var course = courseModel.Course;
    var materials = courseModel.Materials;
    var csetting = courseModel.CourseSettings;

    var modifier = "CourseDetails";
    var wgname = TerminologyHelper.Instance.GetTermCapital(TermsEnum.Materials);
    var wgcontainer = "Course" + wgname + "Container";
    var wgcontainerDet = "Course" + wgname + "ContainerDet";

}

<div id="@wgcontainer" class="course-widgetbox" style="min-height:100px;">

    <div class="course-widgetbox-smheader">
    @wgname
    </div>
   <div id="@wgcontainerDet" style="padding:5px;margin:5px; ">
        @{Html.RenderPartial("ListingMaterials", courseModel, new ViewDataDictionary { { "Modifier", modifier }});}
    </div>

</div>
