@using Gsmu.Api.Networking.Mail
@{
    ViewBag.Title = "Development page";
}


To see the available options in development mode, please make sure <a href="@Url.Action("Index", new { adminmode = "true" })">admin mode</a> is on and look in the development button :)

