@using Gsmu.Api.Web
@using Gsmu.Api.Data
@{
    string errMsgOrCode = ViewBag.ErrMsgOrCode;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
An error has occurred. Please try again or contact administrator. 
    <br>MErr100 - @errMsgOrCode
</body>
</html>
