<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="PublicCourseBrowseAscendingImage" value="Images/icons/FamFamfam/bullet_arrow_up.png" />
  <add key="PublicCourseBrowseDescendingImage" value="Images/icons/FamFamfam/bullet_arrow_down.png" />
  <add key="PublicCourseAccessCodeImage" value="Images/icons/FamFamfam/lock.png" />
  <add key="CourseSearchSingleView" value="True" />
  <add key="DefaultCourseSearchView" value="LeftCategory" />
  <add key="HideAdditionalCourseOffering" value="False" />
  <add key="V3InstructorImage" value="/admin/catalog/instructorphoto/" />
  <add key="LogAuthorizeNetTransaction" value="True" />
  <add key="LoggedInSessionTimeout" value="180" />
  <add key="LoggedOutSessionTimeout" value="180" />
  <add key="DevelopmentMachineList" value="patrik.gosignmeup.com,localhost" />
  <add key="ForceCssJssCompression" value="False" />
  <add key="DevelopmentMode" value="true" />
  <add key="V3AdminVirtualDirectory" value="/admin/" />
  <add key="DocumentsFolder" value="/admin/Documents/" />
  <add key="AdminUser" value="gsmu609" />
  <add key="AdminPassword" value="GSMUr0(k$!" />
  <add key="SupervisorProfileImageVirtualDirectory" value="~/admin/catalog/instructorphoto/"/>
  <add key="InstructorfileImageVirtualDirectory" value="~/\admin/catalog/instructorphoto/"/>
  <add key="NoProfileImageVirtualPath" value="~/Images/NoProfileImage.png"/>
  <add key="ProfileImageMaxWidth" value="320"/>
  <add key="ProfileImageMaxHeight" value="240"/>
  <add key="ProfileImageWidgetWidth" value="186"/>
  <add key="ProfileImageWidgetHeight" value="140"/>
  <!--<add key="p12CertificateUrl" value="API Project-88c2dcccf210.p12" />
  <add key="serviceAccountId" value="gsmu-845@api-project-344775287958.stocktonusd.org.iam.gserviceaccount.com" />
  <add key="p12CertificateUrl" value="GSMUGOOGLESERVICE-d37840042122.p12" />
  <add key="serviceAccountId" value="615138420313-gaclsmf3vlam987upnkg5v5310sh617v@developer.gserviceaccount.com" />-->
  <add key="AnetReconcileKey" value="174e2dea8fc9eced200183c0ed0afc96"/>
  <add key="AnetReconcileLevel" value="1"/> <!--1 regular settled tx, 2 unsettled tx, 3 held tx -->
  <add key="LoadWidgetDashboard" value="all"/>
  <add key="CourseIconsDirectory" value="~/admin/Images/"/>
  <add key="NelNetBaseUrlParameters" value="orderNumber={orderNumber}|orderType={orderType}|orderName={orderName}|amountDue={amount}|paymentMethod={paymentMethod}|streetOne={streetOne}|city={city}|state={state}|zip={zip}|email={email}|redirectUrl={redirecturl}|redirectUrlParameters={redirect_parameters}|retriesAllowed={retriesAllowed}|contentEmbedded={contentEmbedded}|timestamp={timestamp}|hash={hash}"/>
  <add key="CartImageFull" value="Areas/Public/Images/Interface-Icons/RegisterCalendarIconSmall.png" />
  <add key="CartImageEmpty" value="Areas/Public/Images/Interface-Icons/EmptyCalendarIconSmall.png" />
  <add key="CartButtonListIcon" value="Areas/Public/Images/Interface-Icons/EmptyCalendarIconSmallList.png" />
  <add key="CartButtonExpandedIcon" value="Areas/Public/Images/Interface-Icons/EmptyCalendarIconExpanded.png" />   
  <add key="HouseHoldRequiredField" value="first" />
  <add key="PassUserAddressToANET" value="true" />
  <add key="ShowShibbRedirectPopup" value="true" />
  <add key="BlackboardRequiredTokenToProcess" value="True" />
  <add key="LMSCallHashKey" value="fZFLb4MwEIT%2FCvI9GExIUisg0eTQSGmDAuip2" />
  <add key="TurnOnDebugTracingMode" value="on" />
  <add key="GoogleMapsApiKey" value="AIzaSyCyVJTUsuif-nIOC7AMZLpo623hhsE9adw" />
  <add key="ToolTipSearchCourseText" value="enable" />
  <add key ="AuditSiteAcitivityLevel" value="Partial"/>
  <add key ="TouchNetIncludeUserEmailToAncillaryField" value="true"/>
  <add key ="DisplayShibbolethicon" value="hide"/>
  <add key="UseNewEncryptionProtocol" value="true" />
  <add key="HaikuUseEmailAsImportID" value="false" />
  <add key="AllowAdminPortalToUpdate" value="AllowST" />

  <add key="cybs.merchantID" value="catest"/>
  <add key="cybs.keysDirectory" value="C:\websites\CyberSourcekeysDirectory\"/>
  <add key="cybs.sendToProduction" value="false"/>
  <add key="cybs.sendToAkamai" value="true"/>
  <add key="cybs.enableLog" value="false"/>
  <add key="cybs.logDirectory" value="Log directory"/>
  <add key="cybs.useSignAndEncrypted" value="false"/>

  <add key="UseNewReportView" value="true"/>
  <add key="UseNewPublicDatabaseView" value="true"/>

 <add key="SupervisorAutoSearchFilter" value="true"/>

  <add key="aspnet:MaxJsonDeserializerMembers" value="250000" />
  
<!--    <add key="p12CertificateUrl" value="gosignmeupcalendar-0c518f9594e8.p12" />
  <add key="serviceAccountId" value="gsmu-cal@gsmu-calendar-api.iam.gserviceaccount.com" />-->

  <add key="p12CertificateUrl" value="discoveryeducation-209820-df7db4546790.p12" />
  <add key="serviceAccountId" value="gosignmeup-calendar@discoveryeducation-209820.iam.gserviceaccount.com" />

  <add key="PayGovNICStatePurchaseCode" value="CA"/>
  <add key="UserLoginAutoPopup" value="true"/>
  <add key="WelcomePage" value=""/>
  <add key="SystemPrefix" value=""/>
  <add key="AllowAutoReserveCourseOrder" value="true" />
  <add key="ReserveOrderExpiry" value="30" />
  <add key="whitelistedsites" value="https://dev252.gosignmeup.com" /><!-- separted by ","-->
  <add key="UserDashCourseGridDefaultView" value="" />
  <add key="UserDashCourseShowCourseNum" value="true" />
  <add key="AutoCreateCourseSectionPerRegistrationValue" value="Online courses - O|Hybrid courses - H|Bootcamps - B" />
  <add key="forceSyncInstructor" value="false" /><!-- reversed logic - true = not sync instructor -->
  <add key="GenerateUniqueICS" value="true" />
  <add key="CanvasSyncOnPendingPayment" value="true"/>
  <add key="hideCanvasLoginLink" value="false"/> <!-- hide to hide or false to show -->
  <add key="CanvasSyncUserAsStudentInGSMUdefault" value="true"/>
  <add key="CanvasSkipSyncUserAccount" value="false"/>
  <add key="PaygovTCSCertLoc" value="C:\websites\lang2\Gsmu.Web\Certificate\paygov.pfx"/>
  <add key="ErrorMessageWrongPriceOption" value=" has been removed from your cart because you did not select a pricing option."/>
  <add key="CanvasforceSyncInstructor" value="true" />
  <add key="sendRequestUsernamePass2AdditionalEmail" value="yes" />
  <add key="STForceResetPassAdminCreated" value="true" />
  <add key="STForceResetPassAdminCreatedMsg" value="Please update your password." />

  <add key="BlackboardUseAPI" value="True" />
  <add key="BlackboardInstitutionalRole" value="STUDENT" />
  <add key="BlackboardSystemRole" value="123" />
  <add key ="PreReqsPubView" value="CourseNumOnly"/>
  <add key ="HideCourseNameOnPreReqList" value="true"/>
  <add key ="PasswordFormat" value="Basic"/> <!-- None, Strict, Basic -->
  <add key ="RequiredReferrerCheck" value ="false"/>

  
</appSettings>
