<div id="widget-course-categories">
    <div class="row form-group form-group-sm">
        <div class="col-sm-12">
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Categories : </span>
            </div>
            <div class="col-sm-2 pad-x-5 ">
                <input name="categoriesRadio" value="1" type="radio" /> 1 &nbsp;
                <input name="categoriesRadio" value="2" type="radio" /> 2 &nbsp;
                <input name="categoriesRadio" value="3" type="radio" /> 3 &nbsp;
            </div>
            <div class="course-categories-btns">
                <div>
                    <button type="button" class="btn btn-success btn-xs save" onclick="courseCategoriesEditor.save()">Save Changes <span class="glyphicon glyphicon-ok"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div id="category-container-1" class="row form-group form-group-sm">
        <div class="col-sm-12">
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Main Category : </span>
            </div>
            <div class="col-sm-3 pad-x-5">
                <select id="main-course-categories1" class="form-control input-sm" data-live-search="true"></select>
            </div>
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Sub Category : </span>
            </div>
            <div class="col-sm-3 pad-x-5">
                <select id="subcategory-course-categories1" class="form-control input-sm" data-live-search="true"></select>
            </div>
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Optional Sub Category : </span>
            </div>
            <div class="col-sm-3 pad-x-5">
                <select id="subsubcategory-course-categories1" class="form-control input-sm" data-live-search="true"></select>
            </div>
        </div>
    </div>
    <div id="category-container-2" class="row form-group form-group-sm">
        <div class="col-sm-12">
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Main Category : </span>
            </div>
            <div class="col-sm-2 pad-x-5">
                <select id="main-course-categories2" class="form-control input-sm" data-live-search="true"></select>
            </div>
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Sub Category : </span>
            </div>
            <div class="col-sm-2 pad-x-5">
                <select id="subcategory-course-categories2" class="form-control input-sm" data-live-search="true"></select>
            </div>
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Optional Sub Category : </span>
            </div>
            <div class="col-sm-2 pad-x-5">
                <select id="subsubcategory-course-categories2" class="form-control input-sm" data-live-search="true"></select>
            </div>
        </div>
    </div>
    <div id="category-container-3" class="row form-group form-group-sm">
        <div class="col-sm-12">
            <div class="col-sm-1 pad-x-5">
                <span class="gsmu-control-label">Main Category : </span>
            </div>
            <div class="col-sm-2 pad-x-5 ">
                <select id="main-course-categories3" class="form-control input-sm" data-live-search="true"></select>
            </div>
            <div class="col-sm-1 pad-x-5 ">
                <span class="gsmu-control-label">Sub Category : </span>
            </div>
            <div class="col-sm-2 pad-x-5 ">
                <select id="subcategory-course-categories3" class="form-control input-sm" data-live-search="true"></select>
            </div>
            <div class="col-sm-1 pad-x-5 ">
                <span class="gsmu-control-label">Optional Sub Category : </span>
            </div>
            <div class="col-sm-2 pad-x-5 ">
                <select id="subsubcategory-course-categories3" class="form-control input-sm" data-live-search="true"></select>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Adm/Scripts/Widgets/CourseCategories.js")