<div id="widget-course-access-code">
    <div class="col-lg-12">
        <div class="row">
            <input type="text" id="course-option-access-code" name="AccessCode" class="form-control input-sm" placeholder="No Access Code">
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Adm/Scripts/Widgets/CourseAccessCode.js")