<div id="widget-course-dashboard-quicklinks">
    <div class="panel panel-default">
        <div class="panel-heading gsmu-sub-panel-heading">
            <div class="panel-title">
                Actions
            </div>
        </div>
        <div class="panel-body gsmu-sub-panel-body large-panel panel-collapse collapse in">
            <div class="navbar navbar-fixed-right">
                <ul class="nav navbar-nav">
                    <li><a id="action-widget-signin-sheet" ><span class="glyphicon glyphicon glyphicon-list-alt fa-lg"></span>&nbsp; <span class="link-label">Sign-in Sheet</span></a></li>
                    <li><a id="action-widget-print-name-cards"><span class="glyphicon glyphicon-print fa-lg"></span>&nbsp; <span class="link-label">Print Name Cards & Labels</span></a></li>
                    <li><a id="action-widget-duplicate-course"><span class="fa fa-files-o fa-lg"></span>&nbsp; <span class="link-label">Duplicate Course</span></a></li>
                    <li><a id="action-widget-print-certificates"><span class="glyphicon glyphicon-certificate fa-lg"></span>&nbsp; <span class="link-label">Print Certificates</span></a></li>
                    <li><a id="action-widget-email-course"><span class="glyphicon glyphicon-envelope fa-lg"></span>&nbsp; <span class="link-label">Email Course</span></a></li>
                    <li><a id="action-widget-take-attendance"><span class="fa fa-check-square-o fa-lg"></span>&nbsp; <span class="link-label">Take Attendance</span></a></li>
                    <li><a id="action-widget-edit-class-list"><span class="fa fa-list-alt fa-lg"></span>&nbsp; <span class="link-label">Edit Class List</span></a></li>
                    <li><a id="action-widget-move-students"><span class="fa fa-share fa-lg"></span>&nbsp; <span class="link-label">Move Students</span></a></li>
                    <li><a id="action-widget-replace-students"><span class="fa fa-users fa-lg"></span>&nbsp; <span class="link-label">Replace Students</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>