<div id="widget-course-completion-certificate">
    <div class="col-lg-12">
        <div class="row">
            <select id="course-completion-certicate-select" class="form-control">
            </select>
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Adm/Scripts/Widgets/CourseCompletionCertificate.js")