<div id="widget-course-reports">
    <div class="panel panel-default">
        <div class="panel-heading gsmu-sub-panel-heading">
            <div class="panel-title">
                Reports
            </div>
        </div>
        <div class="panel-body gsmu-sub-panel-body panel-collapse collapse in">
            <div class="row form-group form-group-sm">
                <div class="col-lg-12">
                    <ul class="nav nav-bar">
                        <li><a class="reports-link" href="#"><span class="fa fa-dollar fa-lg"></span><span class="link-label">&nbsp; Payment Status</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        //$('.reports-link').attr('href', '/Adm/Reports/ReportsPaymentClassList?courseId=' + courseId);
    })
</script>