<div id="widget-course-options-course-choices">
    <div class="col-lg-12">
        <div class="row">
            <input type="checkbox" id="course-options-use-course-choices" data-size="mini" class="bootstrap-toggle" />  Use course choices for this class?
        </div>
        <br />
        <div id="course-choices-list" class="row">
        </div>
    </div>
</div>
@Scripts.Render("~/Areas/Adm/Scripts/Widgets/CourseChoices.js")