<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="School" connectionString="Server=172.16.1.240;Database=School;Integrated Security=false;User Id=gsmuv3;Password=9pool2;"/>
  <add name="Events" connectionString="Server=172.16.1.240;Database=mainevents;Integrated Security=false;User Id=gsmuv3;Password=9pool2;"/>
  <add name="RoomManagement" connectionString="Server=172.16.1.240;Database=RoomMgmt;Integrated Security=false;User Id=gsmuv3;Password=9pool2;"/>
  <add name="Survey" connectionString="Server=172.16.1.240;Database=schoolEvaluations;Integrated Security=false;User Id=gsmuv3;Password=9pool2;"/>
  <add name="ClientTracking" connectionString="Server=172.16.1.240;Database=ClientTracking;Integrated Security=false;User Id=Tracking;Password=12qwaszx;"/>
  <add name="SchoolEntities" connectionString="metadata=res://*/Data.School.Entities.School.csdl|res://*/Data.School.Entities.School.ssdl|res://*/Data.School.Entities.School.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.240;Database=School;Integrated Security=false;User Id=gsmuv3;Password=9pool2;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="EventsEntities" connectionString="metadata=res://*/Data.Events.Entities.Events.csdl|res://*/Data.Events.Entities.Events.ssdl|res://*/Data.Events.Entities.Events.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.240;Database=mainevents;Integrated Security=false;User Id=gsmuv3;Password=9pool2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="RoomManagementEntities" connectionString="metadata=res://*/Data.RoomManagement.Entities.RoomManagement.csdl|res://*/Data.RoomManagement.Entities.RoomManagement.ssdl|res://*/Data.RoomManagement.Entities.RoomManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.240;Database=RoomMgmt;Integrated Security=false;User Id=gsmuv3;Password=9pool2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="SurveyEntities" connectionString="metadata=res://*/Data.Survey.Entities.Survey.csdl|res://*/Data.Survey.Entities.Survey.ssdl|res://*/Data.Survey.Entities.Survey.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.240;Database=schoolEvaluations;Integrated Security=false;User Id=gsmuv3;Password=9pool2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <add name="ClientTrackingEntities" connectionString="metadata=res://*/Data.ClientTracking.Entities.ClientTracking.csdl|res://*/Data.ClientTracking.Entities.ClientTracking.ssdl|res://*/Data.ClientTracking.Entities.ClientTracking.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.240;Database=ClientTracking;Integrated Security=false;User Id=Tracking;Password=12qwaszx;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

</connectionStrings>