
<div class="form-group">
    <input type="text" data-provide="typeahead" class="form-control course-search-input typeahead" placeholder="Course Name, Description, Date, ID, Teacher or Number">
</div>

<script src="~/Areas/Adm/Scripts/Widgets/Course/CourseSearch.js" type="text/javascript"></script>