

        <table width="100%" border="0" style="padding:20px">
            <tr>
                <td colspan=2>
                    <font color="##FCB034"><H1>Disclaimer</h1></font>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <i>You are about to create a new student account on BEST website.
                    </i>
                    <br>
                    <br>
                    Before creating a new account, make sure that you do not have an existing account. If you have lost your password, please visit our password recovery page or our Helpdesk .
                    <br>
                    <br>
                    Generic conditions of usage
                    <br>
                    <br>
                    User with a registered account will have access to all the information stored about him or her in the system.
        Users are free to add, modify and delete their information, with a few restrictions (first name, family name, gender, citizenship and date of birth can only be changed through our Helpdesk, to prevent abuse of the system).
        Accounts cannot be deleted (neither by user or by administrators).
        Applications to events can only be edited or deleted until a deadline specific to that event, and cannot be changed afterwards.
        Personal privacy: we will use your email and other personal information only for matters related to your usage of this site, and/or participation in our activities and services.
        Under certain conditions this can also lead to parts of your personal information becoming accessible to third parties related to these activities and services. You will be informed about such cases beforehand.
                     <br>
                    <br>
                    <br>
               </td>
            </tr>

            <tr>
                <td>
                    
                                    <a href="javascript:history.back();"
                        class="simpleCart_checkout hudbtn primary right"
                        style="height: 30px; width: 190px; font-size: 15px; vertical-align: central;">Disagree to Disclaimer</a>

                    <br>

                </td>
                <td style="width:250px">
                                    <a onclick="window.location.href = '/Public/User/RegisterUser'"
                        class="simpleCart_checkout hudbtn primary right"
                        style="height: 30px; width: 180px; font-size: 15px; vertical-align: central;">Agreed to Disclaimer</a>

                    <br>

                </td>
            </tr>
        </table>
