@{
    ViewBag.Title = "Browser Support";
}

<div>
    We apologize for any inconvenience, but your browser is outdated. We support all browsers except Internet Explorer Version under 8.
    <br />
    Your browser is @Request.Browser.Browser @Request.Browser.MajorVersion .
</div>

<br />

<div>
Please download the latest version of <a target="_blank" href="http://windows.microsoft.com/en-US/internet-explorer/download-ie">Internet Explorer</a>.
</div>
