
@{
	ViewBag.Title = "GoogleCalSync";
	Layout = null;
	var rsp = ViewBag.resp;
}

<h2>Google Calendar Authorized</h2>

<table class="table">
    <tr>
        <th>Please close this window and try again google calendar sync. Thank you.</th>
    </tr>


</table>

