@using Gsmu.Api.Web
@using Gsmu.Api.Data
@{
    ViewBag.Title = "Google Calendar Synch Response";
}
<div>
    <h3 style="font-family:monospace">Google Calendar V3 Implementation. <img src="~/Images/Icons/socialmediaicons/google-24x24.png" /></h3>
</div>